@using Microsoft.AspNetCore.Identity
@using Bangazon_WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    @*Author: Ray Purpose: This tempate renders the My Products affordance in the nav bar when a user logs in*@
@if (SignInManager.IsSignedIn(User))
{
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Products" asp-action="MyProducts">My Products</a></li>
</ul>
}
else
{
   
}